# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DataStruct/Heap/FiboHeap.h
DataStruct/Hash/NoListHash.h
DataStruct/Heap/MaxHeap.h
DataStruct/Stack/MinHeap.h
DataStruct/Tree/BinaryTree.h
DataStruct/Tree/SortedBalanceMultiTree.h
Algorithm/Planning/LinearPlanning.h
app.ico
app.rc
Debug/Algorithm.Build.CppClean.log
Debug/Algorithm.log
Debug/Algorithm.tlog/Algorithm.lastbuildstate
Debug/Algorithm.tlog/cl.command.1.tlog
Debug/Algorithm.tlog/metagen.write.1.tlog
Debug/Algorithm.tlog/unsuccessfulbuild
Debug/Algorithm.vcxprojResolveAssemblyReference.cache
Design/Divide/CalculateInversionNumAndMergeSort.h
Design/Divide/MaxSubArray.h
Design/DynamicPlanning/MaxSubArray.cpp
Design/DynamicPlanning/MaxSubArray.h
